<!DOCTYPE html>
<html>
<head>
    <title>Home // ROBSTIIIN.</title>
    <link rel="icon" type="image/png" href="static/images/weblogo.png">
</head>
<body>
    <section>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>navbar</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com">
    <nav class="navbar">
        <ul class="nav-links">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li><a href="{{ url_for('profile') }}">Profile</a></li>
			<li>
				<a>Works</a>
				<ul class="dropdown">
					<li><a href="{{ url_for('areacircle') }}">Area of a Circle</a></li>
					<li><a href="{{ url_for('areatriangle') }}">Area of a Triangle</a></li>
          <li><a href="{{ url_for('convertpostfix') }}">Convert to Postfix</a></li>
          <li><a href="{{ url_for('touppercase') }}">Convert to Uppercase</a></li>
				</ul>
			</li>	
		</ul>
        <div class="nav-right">
        <span id="contactTrigger" class="brand">ROBSTIIIN.</span>
        </div>
	</nav>
    </section>

<section id="contactPopup" class="hero-popup">
  <div class="hero-content">
    <h1>Contact Me!</h1><p><br>
            Course: <b><u>Bachelor of Science in Computer Engineering</u></b><br>
            School: <a href="https://www.pup.edu.ph"><b><u>Polytechnic University of the Philippines, Sta. Mesa, Manila</u></b></a><br>
            Student Number: <b><u>2024-03866-MN-0</u></b> | Year & Section: <b><u>BSCpE 2-3</u></b><br><br>
            
            <i>Come say Hello! --> </i>
            <a href="mailto:robaustinvera@gmail.com"><b><u>Personal Email</u></b></a>  |  
            <a href="mailto:robaustinlvera@iskolarngbayan.pup.edu.ph"><b><u>Institution Email</u></b></a><br>
            Contact Number: <b><u>0962 711 3072</u></b><br>
            Discord: <a href="https://discord.com/users/715487925147795466"<b><u>robstiiin_</a></u></b> |
            Facebook: <a href="https://www.facebook.com/RobAustin07"><b><u>Rob Austin</u></b></a> |
            Instagram: <a href="https://www.instagram.com/robaustin._"><b><u>@robaustin._</u></b></a><br><br></p>
    <button id="closePopup">Close</button>
  </div>
</section>

<section class="hero">
    <div class="hero-content">
      <h1>Welcome: This is ROBSTIIIN.</h1>
      <p>Your one-stop destination for all things Rob Austin!</p>
      <a href="{{ url_for('profile') }}" class="hero-btn">Get Started: Profile</a>
    </div>
</section>

<script>
  const contactTrigger = document.getElementById("contactTrigger");
  const contactPopup = document.getElementById("contactPopup");
  const closePopup = document.getElementById("closePopup");

  contactTrigger.addEventListener("click", () => {
    contactPopup.style.display = "flex";});

  closePopup.addEventListener("click", () => {
    contactPopup.style.display = "none";});
</script>

<footer class="footer">
    <p>&copy; 2025 Rob Austin. All rights reserved.</p>
</footer>
</body>
</html>